.main-app {
  max-width: 750px;
  min-height: auto;
  margin: auto;
  margin-top: 54px;
  margin-bottom: 44px;
}

@media only screen and (max-width: 700px) {
  .main-app {
    margin-top: 34px;
    margin-bottom: 24px;
  }
}