.main-app {
  background-color: rgb(235, 233, 233);
  max-width: 1000px;
  min-height: auto;
  margin: auto;
  margin-top: 54px;
  margin-bottom: 44px;
  outline: auto;
}

@media only screen and (max-width: 700px) {
  .main-app {
    margin-top: 34px;
    margin-bottom: 24px;
  }
}