.main {
    margin-top: 10px;
}
.main-comment {
    width: 100%;
    min-width: 258px;
    height: auto;
    min-height: 170px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(239, 240, 235);
    border-radius: 10px;
}

.main-comment-contador {
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-contador {
    border: none;
    background: none;
    cursor: pointer;
    color: rgb(129, 129, 199);
}

.btn-contador:hover {
    color: rgb(55, 55, 156);
}

.span-contador {
    padding: 8px 0;
    color: rgb(81, 81, 168);
    font-size: 16px;
    font-weight: 700;
}

.contador {
    width: 35px;
    height: 120px;
    background-color: rgb(229, 226, 226);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-comment-info {
    width: 100%;
    height: 100%;
}

.main-comment-info-user {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

.user-photo {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.user-name {
    margin-right: 10px;
    font-weight: 700;
}

.user-date {
    color: gray;
}

.user-reply {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 auto;
    margin-right: 25px;
    cursor: pointer;
    color: rgb(81, 81, 168);
}

.user-reply:hover {
    color: rgb(129, 129, 199);
}

.mobile {
    display: none;
}

.reply-icon {
    margin-right: 5px;
}
.reply-p {   
    font-weight: 700;
}


.main-comment-info-msg {
    width: 100%;
    padding-right: 15px;
    padding-left: 5px;
    padding-bottom: 25px;
    font-size: 18px;
}

.msg-text {
    resize: none;
    width: 100%;
    height: 80px;
    overflow-y: auto;
    margin-bottom: -15px;
    font-size: 18px;
    padding: 3px 5px;
    line-height: 20px;
    font-family: inherit;
}

.edit-btn-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto 0;
    margin-bottom: 20px;
    width: 160px;
}

.edit-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.edit-btn-cancel {
    color: rgb(245, 79, 79);
}

.edit-btn-cancel:hover {
    color: rgb(236, 122, 122);
}

.edit-btn-update {
    color: rgb(239, 240, 235);
    background-color: rgb(81, 81, 168);
    padding: 8px 12px;
    border-radius: 5px;
}

.edit-btn-update:hover {
    background-color: rgb(129, 129, 199);
    color: rgb(255, 255, 255);
}

/* COMMENTS MODAL  */

.main-reply {
    width: 100%;
    height: auto;
    background-color: rgb(239, 240, 235);
    margin-top: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0;
}

.photo-reply {
    width: 52px;
    height: 52px;
    margin: 0 18px;
}

.input-reply {
    width: 100%;
    background-color: rgb(239, 240, 235);
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
    resize: none;
    padding: 10px;
    font-size: 16px;
}

.main-reply-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-reply {
    background: none;
    border: none;
    background-color: rgb(81, 81, 168);
    color: rgb(239, 240, 235);
    padding: 15px 25px;
    border-radius: 5px;
    font-weight: 700;
    margin: 0 20px;
    cursor: pointer;
}

.btn-reply:hover {
    background-color: rgb(129, 129, 199);
    color: rgb(255, 255, 255);
}

.btn-cancel {
    border: none;
    background: none;
    font-weight: 700;
    margin: 0 20px;
    cursor: pointer;
    color: rgb(245, 79, 79);
    margin-top: 18px;
}

.btn-cancel:hover {
    color: rgb(236, 122, 122);
}

@media only screen and (max-width: 530px) {
    .main-comment {
        flex-direction: column;
        padding: 0 15px;
    }
    .main-comment-contador {
        order: 2;
    }
    .main-comment-info {
        order: 1;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: flex;
        margin: 0 0 0 auto;
        padding-right: 5px;
    }
    .main-comment-contador {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: -5px;
        margin-bottom: 20px;
    }
    .contador {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100px;
        padding: 0 5px;
        height: 40px;
    }
    .span-contador {
        margin-bottom: 4px;
    }
    .user-date {
        font-size: 12px;
    }
  }

  @media only screen and (max-width: 530px) {
    .main-reply {
        flex-wrap: wrap;
        padding: 12px 0;
    } 
    .photo-reply {
        order: 2;
        margin: 0;
        margin-top: 14px;
        margin-left: 15px;
        width: 42px;
        height: 42px;
    }
    .input-reply {
        order: 1;
        width: 100%;
        margin: 0 10px;
        height: 80px;
    }
    .main-reply-btn {
        order: 3;
        flex-direction: row;
        align-items: center;
        align-items: center;
        margin-right: 15px;
        padding-top: 18px;
    }
    .btn-reply {
        padding: 10px 20px;
        margin: 0;
        order: 2;
    }
    .btn-cancel {
        margin: 0;
        order: 1;
        margin-right: 18px;
    }
    .edit-btn-main {
        margin-bottom: 30px;
    }
  }

.replies-main {
    display: flex;
    width: 100%;
}

.replies-main-bar {
    width: 150px;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.bar {
    width: 3px;
    height: auto;
    background-color: lightgray;
}

.replies-main-list {
    width: 100%;
}

.new-post {
    margin-top: 10px;
}